{% if content is defined %}
    {% for section, entries in content.items() %} 
[{{section}}]
            {% for key,value  in entries.items() %}
{{key}}={{value}}
            {% endfor %}
    {% endfor %}
{% endif %}